.footer {
  text-align: center;
  background-color: #fbc84f;
  align-items: center;
  bottom: 0;
  width: 100%;
  padding: 1% 0;
}

.footer-link {
  color: black !important;
  text-decoration: none !important;
}

.footer-link:hover {
  color: white !important;
}

@media only screen and (max-width: 386px) {
  .footer {
      padding: 0;
  }

  .footer-link {
      font-size: 0.8em;
  }
}
