.App {
    text-align: center;
}

.content {
    align-content: center;
    background-color: white !important;
    margin: 0 5% !important;
    height: 100%;
    width: auto;
    text-overflow: ellipsis;
}

.content p {
    
    text-align: center;
    font-size: 3rem;
    color: #039490;
    padding: 2% 0 0 0;
    font-weight: bold;
}

.content-sub {
    font-size: 1.8rem !important;
    margin: 0 20%;
}

@media only screen and (max-width: 480px){
    .content p{
        padding: 5% 0 0 0;
        font-size: 1.8rem;
    }

    .content-sub {
        margin: 0 15%;
        font-size: 1.2rem !important;
    }
}
