@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@600&display=swap');

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Spartan', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff7e3 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
